/* Универсальные стили*/

html,
body {
	width: 1200px;
	font-size: 16px;
	margin: 0 auto;
  	padding: 0;
	line-height: 22px;
	color: #cc3232;
	font-weight: normal;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	
	outline: 2px solid blue;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
	width: 1146px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	padding: 0;

	background-color: lightyellow;
	outline: 1px solid red;
}

header .container {
	width: 1200px;
	margin: 0 auto;

	background-color: lightgrey;
	outline: 5px solid orange;
	min-height: 114px;
}

.header-left {
	float: left;
	width: 579px;
	margin-left: 21px;

	background-color: lightgreen;
	outline: 5px solid lightblue;
	min-height: 75px;
}

.logo {
	float: left;
	width: 154px;
	height: 64px;
	margin-top: 9px;
	text-align: center;

	background-color: yellow;
	outline: 2px solid black;
}

.main-navigation {
	float: left;
	width: 395px;
	margin-top: 23px;
	margin-left: 30px;

	background-color: yellow;
	outline: 2px solid black;
	min-height: 32px;
}

.header-right {
	float: right;
	width: 293px;
	margin-right: 27px;

	background-color: lightgreen;
	outline: 5px solid lightblue;
	min-height: 96px;
}

.user-block {
	float: right;
	width: 293px;
	margin-top: 23px;
	margin-bottom: 18px;

	background-color: yellow;
	outline: 2px solid black;
	min-height: 32px;
}

.header-contacts {
	float: right;
	width: 166px;

	background-color: yellow;
	outline: 2px solid black;
	min-height: 39px;
}

/*Собственные стили для index.html*/

.slider-items {
	width: 1200px;
	
	background-color: pink;
	outline: 2px solid red;
	min-height: 583px;

}

.slider-item {
	width: 1146px;
	margin-top: -31px;
	margin-right: auto;
  	margin-left: auto;

  	background-color: lightgreen;
	outline: 2px dashed black;
  	min-height: 583px;
}

.promo-item {
	float: left;
	width: 560px;
	margin-top: -19px;
	margin-right: 26px;

	
	background-color: grey;
	outline: 2px dashed black;
  	min-height: 229px;
}

.promo-item:last-child {
  margin-right: 0;
}

.bestsellers-item {
	display: inline-block;
	vertical-align: top;
	width: 265px; /*267px*/
	margin-top: 0;
	margin-right: 24px; /*26px*/
	margin-left: 0;
	margin-bottom: 0; 
	
	background-color: lightblue;
	outline: 2px dashed green;
	min-height: 323px;
}

.bestsellers-item:last-child {
	margin-right: 0;
}

.features .container {
	padding-top: 94px;
	
	background-color: yellow;
	outline: 5px solid red;
}

.features-block {
	float: left;
	width: 529px; /*553*/
	margin-right: 13px;
	margin-bottom: 27px;
	margin-left: 21px;
	
	background-color: lightblue;
	outline: 2px dashed green;
	min-height: 185px;
}

.features-block:last-child {
	margin-right: 33px;
}

.double-block {
	float: left;
	width: 560px;
	margin-right: 26px;
	margin-bottom: 0;

	background-color: lightblue;
	outline: 2px dashed green;
	min-height: 219px;
}

.double-block:last-child {
	margin-right: 0;
}

.contacts {
	position: relative;
	width: 1200px;

	background-color: yellow;
	outline: 2px dashed green;
	min-height: 429px;
}

.contacts-feedback {
	position: absolute;
	top: 62px;
	right: 27px;
	width: 302px;

	background-color: lightblue;
	outline: 2px dashed green;
	min-height: 305px;
}

.footer {
	background-color: yellow;
	outline: 5px solid blue;
}

.footer-left {
	float: left;
	width: 187px;
	margin-top: 36px;
	margin-right: 214px;
	

	background-color: lightblue;
	outline: 2px dashed green;
	min-height: 40px;
}

.footer-center {
	float: left;
	width: 340px;
	margin-top: 36px;

	background-color: lightblue;
	outline: 2px dashed green;
	min-height: 40px;
}

.footer-production {
	float: left;
	width: 160px;
	margin-right: 5px;

	background-color: lightgrey;
	outline: 2px dashed green;
	min-height: 38px;
}

.footer-documents {
	float: right;
	width: 173px;

	background-color: lightgrey;
	outline: 2px dashed green;
	min-height: 38px;
}

.footer-right {
	float: right;
	width: 190px;
	margin-top: 19px;
	margin-bottom: 25px;

	background-color: lightblue;
	outline: 2px dashed green;
	min-height: 59px;
}

/*
h1 {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;;
}

h2{
	font-size: 60px;
	line-height: 60.35px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
*/

/*Собственные стили для catalog.html*/

/*удалить после сетки*/
.container-1 {
	width: 1146px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;

	background-color: lightyellow;
	outline: 1px solid red;
	min-height: 57px;
}

.breadcrumbs {
	margin-top: -12px;
	margin-bottom: 10px;
		
	background-color: lightblue;
	outline: 2px dashed green;
	min-height: 14px;
}

.filter .container {
	margin-top: 30px;

	min-height: 130px;
}

.filter-category {
	display: inline-block;
	vertical-align: top;

	background-color: lightblue;
	outline: 2px dashed green;
	min-height: 56px;
}

.filter-type {
	width: 193px;
	margin-right: 14px;
	margin-bottom: 18px;
}

.filter-price {
	width: 220px;
	margin-right: 14px;
}

.filter-fat {
	width: 416px;
}

.filter-filler {
	width: 702px;
	margin-right: 14px;
}

button {
	width: 144px;
	vertical-align: bottom;
	
	background-color: lightblue;
	outline: 2px dashed green;
	min-height: 36px;
}

/*удалить после сетки*/
.catalog {
	margin-bottom: 35px;
	
	background-color: pink;
	outline: 5px solid green;
}

.catalog .container {
	
	background-color: lightyellow;
	outline: 10px solid red;
}

.catalog-item {
	display: inline-block;
	vertical-align: top;
	width: 265px; /*267px*/
	margin-top: 0;
	margin-right: 24px; /*26px*/
	margin-left: 0;
	margin-bottom: 40px;

	background-color: lightblue;
	outline: 2px dashed green;
	min-height: 325px;
}

.catalog-item:nth-child(4n) {
 	margin-right: 0;
 }

.catalog-item:nth-child(9n),
.catalog-item:nth-child(10n),
.catalog-item:nth-child(11n),
.catalog-item:nth-child(12n) {
 	margin-bottom: 0;
 }

.catalog-pages {
	float: right;
	width: 325px;
	margin-top: 82px;
		
	background-color: lightblue;
	outline: 2px dashed green;
	min-height: 26px;
}


